<app-user-nav></app-user-nav>
<!-- <h2>Pending Surveys</h2>
<div class="card row mt-4 justify-content-center">
    <div class="card-header">
      Survey Expert
    </div>
    <div class="card-body">
      <h5 class="card-title">Prep up Session Survey</h5>
      <p class="card-text">Feedback for the Prep Up sessions Conducted</p>
      <a href="#" class="btn btn-primary">Review</a>
    </div>
  </div> -->
  <!-- <span class=" position-absolute translate-middle-y end-0 mb-4">
                  <a [routerLink]="'../giveSurvey/'+s.survey_id + '/' + s.name" class="btn btn-primary border-light border-2 mx-2" > Give Survey </a> 
                </span>
-->
  <div class="container mt-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
        Your Pending Surveys
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container mt-4">
          <div *ngFor = "let survey of SurveyData">
            <mat-card>
              <mat-card-header>      
                <mat-card-title>
                  <md-card-avatar class="material-icons">
                    pending_actions
                </md-card-avatar>
                  {{survey.name | titlecase}}
                </mat-card-title>
                
              </mat-card-header>
              <mat-card-content>
                  <mat-card-subtitle>{{survey.description | titlecase}}
                    <a [routerLink]="'../giveSurvey/'+survey.survey_id + '/' + survey.name" 
                    mat-raised-button color="primary" 
                    class="border-2  position-absolute translate-middle-y end-0 mb-4 mr-4"
                     > Give Survey </a> 
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card><br><br>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  

