.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(168, 208, 247);
}

.border{
  
  /* background-color: #D6F9EF; */
  background-color: #d0fdff;
}

.mycolour{
  background-color: #006aad;
  color: #eee;

}