
<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink='dashboard'>
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button routerLink="previousSurvey" mat-list-item>
            <mat-icon mat-list-icon>list</mat-icon>View Survey
        </button>
        <button routerLink='createSurvey' mat-list-item>
            <mat-icon mat-list-icon>add_box</mat-icon>Add Survey
        </button>
        <button routerLink="" mat-list-item>
            <mat-icon mat-list-icon>logout</mat-icon>Log Out
        </button>
    </mat-action-list>
</mat-card>