.mt20{
    margin-top: 20px;
}
.center{
   margin-left: 50% ;
}
html,body {   background-color:rgb(26, 109, 145); }
.head{
    font-weight: bold;
    color: darkblue;
}
.ml5{
    margin-left: 5px;
}
.ml15{
    margin-left: 15px;;
}
.ml20{
    margin-left: 550px;
}
.border{
    border-bottom: 2px;
    font-size: 15px;
}

.mainBackground {
    background-color: white;
    height: auto;
    display: flex;
  }