<div class="container mt-4" >
    <span>
    <h3 class="text-center head">  Survey of {{name}}</h3>
    </span>
    <br><br><div class="container">
        <mat-card  class="mt-4">
    
        <mat-card-content>
          <p>
            <b> Q {{ current + 1 }})</b>
            <span class="ml20" [innerHTML]="q.question_text"></span>
          </p>
          <div class="container-fluid">
            <div class="row">
                <div *ngIf="q.answer_type=='textbox'" class="name">
                    <input 
                        name="input_text"
                        [(ngModel)]="response.answer1"
                        matInput required><br>
                <button class="center " mat-raised-button color="primary" (change) = "onAnswer()"(click)="saveData(q.question_id)">Save and Next</button>
                </div> 
                <div *ngIf="q.answer_type=='checkbox'" class="name">
                    <div class="row">
                        <div  class="w100 example-radio-group">
                           <mat-checkbox class="example-margin" [(ngModel)]="response.answer1" name="answer1"  [value]="q.option1" ngDefaultControl>{{q.option1}}</mat-checkbox><br>
                             <mat-checkbox class="example-margin" [(ngModel)]="response.answer2" name="answer2" [value]="q.option2" ngDefaultControl *ngIf="q.option2!=''">{{q.option2}}</mat-checkbox><br>
                            <mat-checkbox class="example-margin" [(ngModel)]="response.answer3" name="answer3" [value]="q.option3" ngDefaultControl *ngIf="q.option3!=''">{{q.option3}}</mat-checkbox><br>
                            <mat-checkbox class="example-margin" [(ngModel)]="response.answer4" name="answer4" [value]="q.option4" ngDefaultControl *ngIf="q.option4!=''">{{q.option4}}</mat-checkbox><br>
                        </div>
                    </div>
                <button class="center " mat-raised-button color="primary" (change) = "onAnswer()" (click)="check(q.question_id,q.option1,q.option2,q.option3,q.option4)">Save and Next</button>

                </div>
                <div *ngIf="q.answer_type=='radio'"  class="name">
                    <div class="row">
                        <div  class="w100">
                                <mat-radio-group aria-label="Select an option" class="example-radio-group" [(ngModel)]="response.answer1" name="answer1">
                                    <mat-radio-button value="1"  [value]="q.option1"  ngDefaultControl>{{q.option1}}</mat-radio-button><br>
                                   <mat-radio-button value="2"  [value]="q.option2"  ngDefaultControl *ngIf="q.option2!=''">{{q.option2}}</mat-radio-button><br>
                                    <mat-radio-button value="3"  [value]="q.option3"  ngDefaultControl *ngIf="q.option3!=''">{{q.option3}}</mat-radio-button><br>
                                    <mat-radio-button value="4"  [value]="q.option4"  ngDefaultControl *ngIf="q.option4!=''">{{q.option4}}</mat-radio-button>
                                </mat-radio-group>  
                        </div>   
                    </div>
                    <button class="center " mat-raised-button color="primary" (change) = "onAnswer()" (click)="saveData(q.question_id)">Save and Next</button>

                </div> 
                <div *ngIf="q.answer_type=='dropdown'"  class="name">
                <div class="row">
                    <div  class="w100">
                        <mat-select [(ngModel)]="response.answer1" name="answer1">
                            <mat-option  [value]="q.option1" ngDefaultControl>{{q.option1}}</mat-option>
                            <mat-option  [value]="q.option2" ngDefaultControl> {{q.option2}}</mat-option>
                            <mat-option  [value]="q.option3" ngDefaultControl *ngIf="q.option3!=''">{{q.option3}}</mat-option>
                            <mat-option  [value]="q.option4" ngDefaultControl *ngIf="q.option4!=''">{{q.option4}}</mat-option>
                        </mat-select>
                    </div>
                </div> 
                <button class="center " mat-raised-button color="primary" (change) = "onAnswer()" (click)="saveData(q.question_id)">Save and Next</button>

                </div> 
            </div>
        </div>

    </mat-card-content>
    
    </mat-card></div><br><br>

    <button class="center " mat-raised-button color="primary">Save</button>
    
    <button class="center ml15" mat-raised-button color="primary" (ngSubmit)="SaveResponse()">Finish</button>
    </div>











































































<!-- <div class="container mt-4" >
<span>
<h3 class="text-center head">  Survey of {{name}}</h3>
</span>
{{response|json}}
<br><br><div class="container">
<mat-card *ngFor="let q of questions; let i = index" class="mt-4">
    
    <mat-card-content>
      <p>
        <b> Q {{ i + 1 }})</b>
        <span class="ml20" [innerHTML]="q.question_text"></span>
      </p>
      <div class="container-fluid">
        <div class="row">
             <div *ngIf="q.answer_type=='textbox'" class="name">
                <input 
                    name="input_text"
                    [(ngModel)]="response[i].answer1"
                    matInput required>
            </div> 
            <div *ngIf="q.answer_type=='checkbox'" class="name">
                <div class="row">
                    <div  class="w100 example-radio-group">
                       <mat-checkbox class="example-margin" [(ngModel)]="response[i].answer1" name="answer1" [value]="q.option1" ngDefaultControl>{{q.option1}}</mat-checkbox><br>
                         <mat-checkbox class="example-margin" [(ngModel)]="response[i].answer2" name="answer2" [value]="q.option2" ngDefaultControl *ngIf="q.option2!=''">{{q.option2}}</mat-checkbox><br>
                        <mat-checkbox class="example-margin" [(ngModel)]="response[i].answer3" name="answer3" [value]="q.option3" ngDefaultControl *ngIf="q.option3!=''">{{q.option3}}</mat-checkbox><br>
                        <mat-checkbox class="example-margin" [(ngModel)]="response[i].answer4" name="answer4" [value]="q.option4" ngDefaultControl *ngIf="q.option4!=''">{{q.option4}}</mat-checkbox><br>
                    </div>
                </div>
            </div>
            <div *ngIf="q.answer_type=='radio'"  class="name">
                <div class="row">
                    <div  class="w100">
    
                            <mat-radio-group aria-label="Select an option" class="example-radio-group">
                                <mat-radio-button value="1" [(ngModel)]="response[i].answer1" [value]="q.option1" name="option1" ngDefaultControl>{{q.option1}}</mat-radio-button><br>
                               <mat-radio-button value="2" [(ngModel)]="response[i].answer2" [value]="q.option2" name="option2" ngDefaultControl *ngIf="q.option2!=''">{{q.option2}}</mat-radio-button><br>
                                <mat-radio-button value="3" [(ngModel)]="response[i].answer3" [value]="q.option3" name="option3" ngDefaultControl *ngIf="q.option3!=''">{{q.option3}}</mat-radio-button><br>
                                <mat-radio-button value="4" [(ngModel)]="response[i].answer4" [value]="q.option4" name="option4" ngDefaultControl *ngIf="q.option4!=''">{{q.option4}}</mat-radio-button>
                            </mat-radio-group>  
                    </div>   
                </div>
            </div> 
            <div *ngIf="q.answer_type=='dropdown'"  class="name">
            <div class="row">
                <div  class="w100">
                    <select class="form-select">
                        <option value="textbox" [(ngModel)]="response[i].answer1" name="answer1" ngDefaultControl>{{q.option1}}</option>
                        <option value="radio" [(ngModel)]="response[i].answer2" name="answer2" ngDefaultControl> {{q.option2}}</option>
                        <option value="checkbox" [(ngModel)]="response[i].answer3" name="answer3" ngDefaultControl *ngIf="q.option3!=''">{{q.option3}}</option>
                        <option value="dropdown" [(ngModel)]="response[i].answer4" name="answer4" ngDefaultControl *ngIf="q.option4!=''">{{q.option4}}</option>
                    </select>
                </div>
            </div> 
            </div> 
        </div>
    </div>
</mat-card-content>

</mat-card></div><br><br>
<button class="center " mat-raised-button color="primary">Save</button>

<button class="center ml15" mat-raised-button color="primary">Finish</button>
</div> -->