
 <app-navbar></app-navbar>
 
 <div class="container mt-4">
    <div class="card">
      <h4 class="card-header">Enter Your Survey Details !</h4>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="container">
            <div class="mb-3 form-group">
              <label for="surveyName" class="form-label">Enter Survey Name</label>
              <input type="text" class="form-control" id="surveyName" formControlName="surveyName"
              required>
            </div>

            <div class="mb-3 form-group">
              <label for="surveyDesc" class="form-label">Enter Survey Description</label>
              <input type="textarea" class="form-control" id="surveyDesc" formControlName="surveyName"
              required>
            </div>

            <div formArrayName="questionList">
              <div class="form-row" *ngFor="let question of myForm.get('questionList')['controls']; let i=index">
                <fieldset>
                <div class="card my-2">
                  <div class="card-body">
                    <h6 class="card-header">Question {{i+1}}</h6>

                    <div [formGroupName]="i"> 
                      <div class="form-inline">
                        <div class="row mt-4 mx-2">
                          <div class="form-group col-md-4">
                            <label for="question" class="form-label">Question</label>
                            <input type="text" class="form-control" id="question" name="type" formControlName="question" 
                               required>

                          <div class="form-group col-md-2" >
                            <form-field>
                              <label for="questionType" class="form-label">Question Type</label>
                                <select class="form-select">
                                  <option value="textbox">Text Box</option>
                                  <option value="radio">Radio Buttons</option>
                                  <option value="checkbox">Check Box</option>
                                  <option value="dropdown">Drop Down</option>
                                  <option value="textarea">Text Area</option>
                                </select>
                            </form-field>
                          </div>
                          
                          <button (click)="addNewoption(question.controls.optionList)" class="btn btn-success btn-sm col-md-4">Add Option</button>
                        </div>
                        </div> 
                      </div>

                      <div class="form-inline">
                        <div class="form-group">
                          <div formArrayName="optionList">
                            <div *ngFor="let lines of question.get('optionList').controls; let j=index">
                              <div [formGroupName]="j">
                                <div class="form-group col-md-4">
                                  <label for="question" class="form-label">Option {{j+1}}</label>
                                  <input type="text" class="form-control" id="question" name="type" formControlName="question" 
                                     required>
                                     <button class="btn btn-danger btn-sm" (click)="deleteoption(question.controls.optionList, j)">Delete Option</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                        
                    <br>
                
          
                    <!-- <div class="form-group col-md-2 position" *ngIf="i!=0"> -->
                      <button (click)="deletequestion(i)" class="btn btn-danger btn-sm position-absolute top-0 end-0 ">Delete</button> 
                    <!-- </div> -->

                  </div>
                </div>
              </fieldset>
              </div>
          </div>



        </div>

        <br>
        <span (click)="addNewquestion()" class="btn btn-success ">Add Question</span> 
          &nbsp;  
        <button class="btn btn-primary">Submit</button>
      
      </form>

    </div>
  </div>

</div>

