<<<<<<< HEAD
=======

>>>>>>> 3c75eab5bd06ecfbed3e71843a7187cc4dc95aa2
.mainBackground {
    background-color: white;
    height: auto;
    display: flex;
  }
<<<<<<< HEAD
=======

>>>>>>> 3c75eab5bd06ecfbed3e71843a7187cc4dc95aa2
