<div class="container">

  <div *ngFor="let q of questions" >
    <div class="card mt-4">
      <h5 class="card-header">Are you happy with the changes ?</h5>
      <div class="card-body">

        <div style="display: block">
<!-- 
          <canvas baseChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
          >
          </canvas> -->



        </div>

      </div>
    </div>
  </div>

</div>



<!-- <div style="display: block">
  <canvas baseChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div> -->
