.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.mainBackground {
  background-color: white;
  height: auto;
  display: flex;
}
.border{
  
  /* background-color: #D6F9EF; */
  background-color: #d0fdff;
}

.mycolour{
  background-color: #4054b2;
  color: #eee;

}