<!-- // Login Page -->


<section class="vh-100">
  <div class="container py-5">
    <div class="row d-flex align-items-center justify-content-center h-100 border">
    <div class=" col-md-8 col-lg-7 col-xl-6">
      <img src="assets\img\LOGIN.png" class="img-fluid"
      alt="Sample image">   
     </div>

  
  <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

  <form (ngSubmit) = "onSignIn()">
    <mat-form-field appearance="outline" style="width: 300px;">

    <mat-label>Email Id</mat-label>
        <input 
        [(ngModel)]="credentials.username"
        name="email"
        placeholder="Ex. xyz@example.com"
        matInput pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
    </mat-form-field><br/>

    <mat-form-field appearance="outline" style="width: 300px;">
      <mat-label>Password</mat-label>
      <input
      [(ngModel)]="credentials.password"
      name="password"
      type="password"
      matInput required>
      
      
    </mat-form-field><br/>
  
    <!-- Submit button -->
    <button type="submit" class="btn mycolour btn-block mb-4">Sign in</button>
    &nbsp;&nbsp;
    <a class="btn mycolour btn-block mb-4" routerLink='/signup' >Sign up</a>
  </form>
  </div>
  </div>
  </div>
</section>
