.right{
    align-content: flex-end;
}
.ml15 {
    margin-left: 25px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .mainBackground {
    background-color: white;
    height: auto;
    display: flex;
  }