
  .example-radio-button {
    margin: 5px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .ml15{
    margin-left: 550px;
  }

  .w100{
      width: 100%;
  }